@font-face {
    font-family: 'franchise_freebold';
    src: url('../fonts/franchise-free-bold-webfont.eot');
    src: url('../fonts/franchise-free-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/franchise-free-bold-webfont.woff2') format('woff2'),
         url('../fonts/franchise-free-bold-webfont.woff') format('woff'),
         url('../fonts/franchise-free-bold-webfont.ttf') format('truetype'),
         url('../fonts/franchise-free-bold-webfont.svg#franchise_freebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

